.App {
  text-align: center;
  font-family: sans-serif;
  padding: 20px;
}

input[type="text"] {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}
.countries-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.country-item {
  width: 150px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
}
.country-item img {
  width: 100%;
  height: 90px;
  object-fit: cover;
  margin-bottom: 8px;
 
}
.country-item img:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.country-item p {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
}
/* when the user hovers over a country item:: */
.country-item:hover {
  background-color: #f0f0f0;
  transform: translateY(-5px);
  transition: all 0.3s ease;
}


/* spinner no data found::: */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #ddd;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.no-data {
  font-size: 18px;
  color: #888;
}